.section-transition{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.hero{
    width:100%;
    height: 200em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0rem;
    margin-top: 0rem;
    background: var(--clr-dark);
    color: var(--clr-light);
    border: 2px solid hotpink;
   
}
.hero-text{
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid tomato;
}

.hero-image{
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    border: 2px solid teal;
}


h1 {
    margin-top: 1em;
    margin-bottom: 30px;
    font-family: Audiowide, sans-serif;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    font-size: 2em;

}

p{
   margin-top:0;
   padding: 0;
   padding-bottom: 2em;
   letter-spacing: 0.6px;
   font-size: 1rem;
   font-weight: 300;
   font-family:var(--ff-tertiary);
}



.hero-btn{
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1em;
    background: rgb(233,0,179);
background: radial-gradient(circle, rgba(233,0,179,1) 0%, rgba(0,153,202,1) 100%);
    shadow: var(--bs);
    border-radius: 5px;
	  color:#ffffff;
    text-decoration: none;
    padding: 1em 2em;
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
}

.hero-btn:hover{
	background: rgb(0,153,202);
background: radial-gradient(circle, rgba(0,153,202,1) 0%, rgba(233,0,179,1) 100%);
    transition: all ease 0.5s;
    color:white;
    border: 2px solid white;
    
  }




@media(min-width:800px){
  .hero{
    width:100%;
    height: 120vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
   
  }

  .hero-text p{
    padding: 0 1.2em;
    padding-bottom: 1em;
    letter-spacing: 0.6px;
  }
  
  .hero-text h2{
    font-weight:var(--fw-reg);
    font-family:var(--ff-primary);
    font-size: 4rem;
  margin:-10px;
  padding:0;
  }
}