
.roadmap{
    border: 1px solid hotpink;
    color: white;
    display:flex;
    flex-direction: column;
   margin: 2rem;

}

.roadmap_title-box{
    border: 1px solid var(--clr-accent);
    display:flex;
    flex-direction: row; 
    align-items:  center;
    justify-content:flex-start;
}

.roadmap_main-box{
    display:flex;
    flex-direction: row; 
    padding: 1rem;
}

.roadmap_number{
background: var(--clr-accent);
border-radius: 50%;
color: var(--clr-dark);
display: inline-block;
font-weight: bolder;
line-height: 40px;
text-align: center;
width: 40px;
height:40px;
margin: 1rem;
display:flex;
align-items: center;
justify-content: center;
}

.roadmap__box{
padding-top: 2rem;
padding-bottom: 2rem;
}

.roadmap_phase{
    color: var(--clr-accent);
    font-family: var(--ff-tertiary);
    font-size: 0.8rem;
    /* letter-spacing: -0.2rem; */
}
.roadmap_title {
 font-family: var(--ff-secondary);
 font-size: 1rem;
 letter-spacing: 0.2rem;
}

.roadmap__main-points{
padding-top:1rem;
padding-bottom: 1rem;
font-family: var(--ff-tertiary);
list-style:square;
}

.roadmap_image{
    margin: 0.6rem;
    border-radius: 10%;
}