

.image-slider{
    background-color: rgb(249, 0, 124);
    color:rgba(0, 0, 0, 0.709);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}

.marquee{
    width:80vw;
    height:20vh;
    background-color: rgb(21, 21, 21);
    /* overflow:hidden; */
}

.marquee-content{
    list-style: none;
    height:100%;
    display:flex;
    /* animation: */
}

.marquee-content li {
    border:5px solid rgb(249, 0, 124);
    width:20vw;
    flex-shrink: 1;
}


