

.image-slider{
    background-color: rgb(249, 0, 124);
    color:rgba(0, 0, 0, 0.709);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}

.marquee{
    width:80vw;
    height:20vh;
    /* overflow:hidden; */
}

.marquee-content{
    list-style: none;
    height:100%;
    display:flex;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% { transform: translate(80vw); }
    100% { transform:translate(-180vw);}
}

.marquee-content li {
    border:5px solid rgb(249, 0, 124);
    width:20vw;
    flex-shrink: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 8rem;
    white-space: nowrap;
}


